[submodule "xdma"]
	path = xdma
	url = ../xdma.git
[submodule "xtasks"]
	path = xtasks
	url = ../xtasks.git
[submodule "nanox"]
	path = nanox
	url = ../nanox.git
[submodule "mcxx"]
	path = mcxx
	url = ../mcxx.git
[submodule "ait"]
	path = ait
	url = ../ait.git
	branch = master
[submodule "extrae"]
	path = extrae
	url = ../extrae.git
[submodule "ompss-at-fpga-kernel-module"]
	path = ompss-at-fpga-kernel-module
	url = ../ompss-at-fpga-kernel-module.git
